/* This is for the JS navbar...  come back later*/
body {
    padding: 1em;
    background-color: #2AA437;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navL {
    display: block;
    margin: 1em;
}

a {
    text-decoration: none;
}

#navL a {
    background-color: darkolivegreen;
    color: goldenrod;
    font-size: 1em;
    padding: 0.25em;
    margin-right: 1px;
    border-radius: 0.25em;
    display: inline-block;
}

.card {
    margin: 3px 9px 9px 3px;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 160px;
    height: 80px;
    min-height: 80px;
    display: inline-flex;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100;
    object-fit: contain;
    border-radius: 0.5rem;
    border: 1px inset;
}

.home img {
    margin-top: 6px;
    max-width: 40vw;
    border-radius: 6px;
    border: 1px inset;
    height: 200px;
    object-fit: cover;
}

.home button {
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

/*index.css*/
.menuBtn{
    display: inline-block;
    cursor: pointer;
    
}

#menuBar1, #menuBar2, #menuBar3{
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change #menuBar1{
  transform: translate(0, 11px) rotate(-45deg);
}
.change #menuBar2{
    opacity: 0;
}
.change #menuBar3{
    transform: translate(0, -11px) rotate(45deg);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar .container{
    max-width: 100%;
}
.main{
    background-image: url("https://cdn.shopify.com/s/files/1/0252/6455/4029/articles/Muir_Woods_Naitonal_Monument_Banner_Small_1c758ffc-ba02-4e13-87b2-5344b36778b1.jpg?v=1609804234");
    background-size: cover;
    width: 100%;
    height: 50vh;
}
/* Buttons */
.mntEnterBtn, .parkEnterBtn{
    color: green;
    background-color: white;
}
.mntEnterBtn:hover, .parkEnterBtn:hover{
    background-color:red;
    color:green;
}